<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
    <div class="text-center text-white">
        <img *ngIf="loaded" class="rounded mx-auto d-block" [src]="Usua.codigo | imagen" alt="IMA Usuario" />
        <p>{{ Usua.nombre }}</p>
        <a class="btn btn-primary" [routerLink]="['/perfil']">Perfil</a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/principal']"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/nominas']"><i class="far fa-credit-card"></i> Nominas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/prenomina']"><i class="far fa-clock"></i> Pre Nóminas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/comedor']"><i class="fas fa-utensils"></i> Comedor</a>
        </li>
        
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/vacaciones']"><i class="fas fa-plane"></i> Vacaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/prestamos']"><i class="fas fa-money-bill-alt"></i> Prestamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/ahorro']"><i class="fas fa-money-bill-alt"></i> Ahoro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sesion']"><i class="fas fa-sign-out-alt"></i> Salir</a>
        </li>
    </ul>
</nav>