<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <img src="../../assets/img/logo_blanco.png" width="250" height="100" alt="IMA logo">
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <ul class="adress text-white">
                    <span>Contacto</span>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:6649030719">(664) 903 0719</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Paseo del Cucapah 20180, El Lago Sur, 22210 Tijuana, B.C., Mexico</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rh@intmassy.com?Subject=Kiosco%20IMA">rh@intmassy.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>